<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SmileyFace.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>19E8809B1BC43AC30098FB5B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>19E880AF1BC43AC40098FB5B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>19E880BA1BC43AC50098FB5B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
